<div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Imagenes/confondo.jpg" class="img-fluid"  id="fotoperfil">
     </div>
         <br>
         <br>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="nombre"> Lucila C. Crocco</p>
        <p> Full Stack Developer Jr.</p>
     </div>

     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Bienvenidos a mi Portfolio Web</h1>
            <p>¡Hola! Soy Lucila Carla Crocco, y en el año 2022 comencé mis estudios en programación, dando mis primeros pasos
                con el curso Full Stack. 
                Entendiendo la importancia del conocimiento en esta rama,deseo continuar especializándome y en un futuro poder 
                aplicar lo aprendido en lo laboral.
                Éste portfolio es mi proyecto de finalización del curso, donde podrán conocer un poco mas sobre mí.
                Muchas gracias</p>
        </span>
     </div>
</div>
