<div class="row">
    <h1>Habilidades</h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
       <circle-progress
       [percent]="40"
       [radius]="60"
    [showUnits]="false"
       [title]="'HTML'"
       [titleColor]="'pink'"
       [titleFontSize]="'2em'"
       [showSubtitle]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
       ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="60"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'pink'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [radius]="60"
        [showUnits]="false"
        [title]="'ANGULAR'"
        [titleColor]="'pink'"
        [titleFontSize]="'1em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [radius]="60"
        [showUnits]="false"
        [title]="'JS'"
        [titleColor]="'pink'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [radius]="60"
        [showUnits]="false"
        [title]="'JAVA'"
        [titleColor]="'pink'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [radius]="60"
        [showUnits]="false"
        [title]="'Github'"
        [titleColor]="'pink'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
     </div>
     <h1>Idiomas</h1>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="60"
        [showUnits]="false"
        [title]="'Inglés'"
        [titleColor]="'blue'"
        [titleFontSize]="'1em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [radius]="60"
        [showUnits]="false"
        [title]="'Hebreo'"
        [titleColor]="'blue'"
        [titleFontSize]="'1em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
     </div>
     


</div>