<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
     <ul>
        <li>
            <dt>Servicio Meteorológico Nacional</dt>
            <dd> Cargo: Observdora Meteorológica de Superficie</dd> 
            <dd> (years)</dd> 
        </li>
     </ul>
    <ul>
        <li>
            <dt> BBVA Frances</dt>
            <dd> Cargo: Azafata</dd> 
            <dd> 2012 - 2015</dd>   
        </li>
        <br>
    </ul>   
    <ul>
        <li>
           <dt> Administración de consorcios "Ortíz"</dt>
           <dd> Cargo: Secretaria general, administrativo.</dd> 
           <dd> 2011 - 2012</dd> 
        </li>
    </ul>
    
    </div>

</div>